@charset "UTF-8";
/*********************************************************************************************************************/
/** 设计图的尺寸 **/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** common **/
body {
  font-family: helvetica;
  margin: 0 auto;
  /* max-width: 750px; */
}

@media screen and (min-width: 1500px) {
  body {
    width: 1500px;
  }
}
body {
  background-color: #f2f0f0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #hd **/
#hd {
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  /*justify-content: space-between;*/
  align-items: center;
  font-size: 28px;
  height: 100px;
  line-height: 100px;
  background-color: #d22147;
}

#hd .hd-l a,
#hd .hd-r a {
  color: #fff;
}

#hd .hd-l a::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 14px;
  background: url("../images/ico_01.png") no-repeat center;
  background-size: cover;
  margin-left: 8px;
}

#hd .hd-l,
#hd .hd-r {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  line-height: 100px;
}

#hd .hd-con {
  flex: 1;
}

#hd .hd-con input {
  height: 64px;
  width: 100%;
  text-indent: 64px;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-size: 28px;
  background: #ae3e56 url("../images/ico_02.png") no-repeat 20px 18px;
  background-size: 32px;
  overflow: hidden;
  box-sizing: border-box;
}

#hd .hd-con input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e2c2c9;
}

#hd .hd-r a::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/ico_03.png") no-repeat 2px 2px;
  background-size: cover;
  margin-right: 8px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #banner **/
#banner a {
  display: block;
  width: 100%;
  height: 260px;
}

#banner a img {
  width: 100%;
  /*width: 7.5rem;*/
  height: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #nav **/
#nav ul {
  font-size: 0;
  padding: 0.4266666667rem 0;
}

#nav li {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin: 0.4266666667rem 0;
}

#nav li a {
  font-size: 0.5973333333rem;
  color: #525252;
}

#nav li img {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 auto 0.4266666667rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #ad1 **/
#ad1 a {
  float: left;
  display: block;
  width: 5.3333333333rem;
  height: 5.3333333333rem;
}

#ad1 a img {
  width: 100%;
  height: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #ad2 **/
#ad2 {
  padding: 0.64rem 0;
}

#ad2 a img {
  width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** #list **/
#list {
  background-color: #fff;
}

#list .headline h3 {
  font-size: 0.6826666667rem;
  line-height: 1.7066666667rem;
  color: #131313;
  font-weight: normal;
  padding-left: 0.4266666667rem;
}

.headline h3::before {
  margin-right: 0.1706666667rem;
  content: "";
  display: inline-block;
  width: 0.1706666667rem;
  height: 0.6826666667rem;
  background-color: #cc0530;
  border-radius: 0.1066666667rem;
}

.headline h3 span,
.headline h3::before {
  vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #list .headline h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #c1c0c5;
    color: #c1c0c5;
    transform-origin: 0 0;
    transform: scaleY(0.5);
  }
}
#list article {
  border-bottom: 1px solid #c1c0c5;
}

#list article a {
  padding: 0.4266666667rem;
  display: flex;
}

#list article .img {
  flex: 0 0 auto;
  padding-right: 0.4266666667rem;
}

#list article .img img {
  width: 4.5653333333rem;
  height: 4.1386666667rem;
}

#list article .info {
  flex: 2 2 auto;
}

#list article .info h4 {
  font-size: 0.5973333333rem;
  color: #181818;
  line-height: 1.3013333333rem;
  margin-bottom: 0.1066666667rem;
}

#list article .info p {
  font-size: 0.512rem;
  color: #979797;
  line-height: 0.768rem;
  margin-bottom: 0.4053333333rem;
  display: -webkit-box;
  /* display: flex; */
  -webkit-box-orient: vertical;
  /* align-items: center; */
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#list article .info div {
  font-size: 0.512rem;
  height: 0.7253333333rem;
  line-height: 0.7253333333rem;
  color: #525252;
}

#list .info div strong {
  color: #cc0530;
  margin: 0 0 0.192rem;
}

#list .info .discount {
  display: inline-block;
  width: 1.792rem;
  height: 0.704rem;
  color: #fff;
  padding-left: 0.32rem;
  margin-left: 0.32rem;
  box-sizing: border-box;
  background: url("../images/ico_04.gif") no-repeat;
  background-size: cover;
}

#list .info .red {
  float: right;
  background: url("../images/ico_05.png") no-repeat left 0.064rem;
  background-size: 0.512rem 0.4693333333rem;
  padding-left: 0.5973333333rem;
}

/*********************************************************************************************************************/

/*# sourceMappingURL=index.css.map */
