/*********************************************************************************************************************/


/** common **/

/** 以 750*1334 为开发基准 **/
@function vw($px) {
    @return $px / 750 * 100vw;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/** method_01: 直接使用 **/

.demo_04 .item {
    float: left;
    width: vw(250);
    height: vw(250);
    background-color: #ae3e56;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/**
 * method_02
 *
 *
 * vh+rem 无法与 同时使用
 *
 * 必须设置 root.fontSize
 */

/** 后续继承 仅关注 html(root).fontSize **/
html {
    font-size: 13.333333333333334vw;
}

/** 解决 html.fontSize 影响页面文字大小 **/
body {
    font-size: 12px;
}

.demo_05 .item {
    float: left;
    width: 1.875rem;
    height: 1.875rem;
    background-color: green;
}


/*********************************************************************************************************************/


