/*********************************************************************************************************************/

// common css

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


$fontSize: 9.259259259259261;

/** font-size **/
html {
    // 100 * (clientWidth / designWidth) => fontSize
    // designWidth / 100 => 1vw
    // => fontSize / 1vw => finallyRes
    font-size: #{$fontSize}vw;
}

/** 当页面到底 750 宽度时，根节点字体大小应固定为最大宽度时候的字体大小 [num]px **/
@media screen and (min-width: 750px) {
    html {
        font-size: calc(#{$fontSize} * (750px / 100));
    }
}

/** font-basic-size **/
body {
    font-size: 12px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// common color

$black-1: #333;
$black-2: #666;
$black-3: #999;


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


// common font-size


/*********************************************************************************************************************/