/*********************************************************************************************************************/

//

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/** 以 750*1334 为开发基准 **/
@function vw($px) {
    @return $px / 750 * 100vw;
}

/** 后续继承 仅关注 html(root).fontSize **/
html {
    font-size: 13.333333333333334vw;
}

/** 解决 html.fontSize 影响页面文字大小 **/
body {
    font-size: 12px;
}

.demo .item {
    float: left;
    width: 1.875rem;
    height: 1.875rem;
    background-color: green;
}


/*********************************************************************************************************************/