/*********************************************************************************************************************/

// preset

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


/* *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * */


$defaultDir: left;

@mixin fl($dir) {
    float: $dir;
}

.float {
    @include fl(left)
}


/* *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  * */


%flex {
    display: flex;
    flex-flow: column nowrap;
}


.vertical {
    @extend %flex;
}


/*********************************************************************************************************************/